{% extends "base.html" %}
{% load static %}

{% block content %}


<script>
function readURL(input, id) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $('#'+id)
        .attr('src', e.target.result)
    };
    reader.readAsDataURL(input.files[0]);
  }
}
</script>




<br/>
<h2 style="text-align:center">Edit Your Profile</h2>
<hr/>

<form action="/profile/saveprofile" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class = "container">
    <div class = "row">
      <div class="col-12">
        <div class = "row">
          <div class="col-5">
            Profile Picture:<br/> 
            <img class="img-thumbnail" id="pic_preview" src="{% get_media_prefix %}{{ img }}"></img>
            <input type="file" accept="image/*" id="profile_pic" name="profile_pic" onchange="readURL(this,'pic_preview');"></input>
          </div>
        </div>
        <br/>
        <div class = "row">
          <div class="col-5">
            Background Image: 
            <img class="img-thumbnail" id="bpic_preview" src="{% get_media_prefix %}{{ bimg }}"></img>
            <input type="file" accept="image/*" name="profile_background" onchange="readURL(this,'bpic_preview');"><br>
          </div>
        </div>
        <hr />

        <div class = "row">
          <div class="col-5">
            Name: <br>
          </div>
        </div>
        <input style="width:100%" type="text" name="profile_name" value="{{ name }}"/>
        <hr />

        <div class = "row">
          <div class="col-5">
            Enter a Short Bio: <br>
          </div>
        </div>
        <input style="width:100%" type="text" name="profile_bio" value="{{ bio }}">
        <hr />

        <div class = "row">
          <div class="col-5">
            Enter Your Year: <br>
          </div>
        </div>
        <input style="width:100%" type="text" name="profile_year" value="{{ year }}">
        <hr />

        <div class = "row">
          <div class="col-5">
            Enter Your Major: <br>
          </div>
        </div>
        <input style="width:100%"  type="text" name="profile_major" value="{{ major }}">
        <hr />

        <div class = "row">
          <div class="col-5">
            Enter Your Interests (seperated by commas): <br>
          </div>
        </div>
        <input style="width:100%" type="text" name="profile_interests" value="{{ intr }}">
        <hr />

        <div class = "row">
          <div class="col-5">
            Enter Your Phone Number: <br>
          </div>
        </div>
        <input style="width:100%" type="text" name="profile_phone">
        <hr />

        <input type="submit" value="Submit Changes">
        <br/>
      </div>
    </div>
  </div>
</form>

{% endblock %}
