{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row image-container">
  <img class="profilebackground" src="{% get_media_prefix %}{{ bimg }}"></img> 
  <div>
    <img class="img-thumbnail img-responsive profilepic" src="{% get_media_prefix %}{{ img }}"></img>
  </div>
</div>

<table class = "table">
  <tr class = "row">
  </tr>
  <tr>
    <td><h1> {{name}}'s Profile </h1></td>
  </tr>
  <tr>
    <td><strong>Bio: </strong> {{ bio }} </td>
  </tr>
  <tr>
    <td><strong>Education: </strong> {{ edu }} </td>
  </tr>
  <tr>
    <td><strong>Intrests: </strong> {{ intr }} </td>
  </tr>
  <tr>
    <td><strong>Contact: </strong> {{ cont }} </td>
  </tr>
</table>

{% endblock %}
