{% extends "base.html" %}
{% load static %}

{% block content %}

<h1> Your Profile </h1>
<div class = "container">
    <div class = "row">
        <div class="col-12">
                <div class="image-container">
                    <p><strong>Profile Pic: </strong> {{ img }} </p>
                    <div class="imageupload">
                        <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change"/>
                    </div>
                </div>
                
                <div class = "row">
                    <div class="col-sm-3 col-md-2 col-5">
                        <p><strong>Name: </strong> {{ name }} </p>
                    </div>
                </div>
                <hr />

                <div class = "row">
                        <div class="col-sm-3 col-md-2 col-5">
                            <p><strong>Bio: </strong> {{ bio }} </p>
                        </div>
                </div>
                <hr />

                <div class = "row">
                        <div class="col-sm-3 col-md-2 col-5">
                            <p><strong>Education: </strong> {{ edu }} </p>
                        </div>
                </div>
                <hr />

                <div class = "row">
                        <div class="col-sm-3 col-md-2 col-5">
                                <p><strong>Intrests: </strong> {{ intr }} </p>
                        </div>
                </div>
                <hr />

                <div class = "row">
                        <div class="col-sm-3 col-md-2 col-5">
                                <p><strong>Contact: </strong> {{ cont }} </p>
                        </div>
                </div>
                <hr />

    <p><strong>Background Pic: </strong> {{ bimg }} </p>

</div>

{% endblock %}
