{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row image-container">
  <img class="profilebackground" src="{% get_media_prefix %}{{ bimg }}"></img> 
  <div>
    <img class="img-thumbnail img-responsive profilepic" src="{% get_media_prefix %}{{ img }}"></img>
  </div>
</div>

<table class = "table" style="text-align:center;">
  <tr class = "row">
  </tr>
  <tr>
    <td>
      <h1> {{name}}'s Profile 
        <a href="/profile/editprofile" class="btn btn-primary">Edit</a>
      </h1>
    </td>
  </tr>
  <tr>
    <td><strong>Bio: </strong> {{ bio }} </td>
  </tr>
  <tr>
    <td><strong>Major: </strong> {{ major }} </td>
  </tr>
  <tr>
    <td><strong>Year: </strong> {{ year }} </td>
  </tr>
  
  <tr>
    <td><strong>Interests: </strong> 
        {% for tag in intr %}
          <div class="interest-tag"> {{ tag.tag_name }} </div>
        {% endfor %}
    </td>
  </tr>
  <tr>
    <td><strong>Phone: </strong> {{ phone }} </td>
  </tr>
  <tr>
    <td><strong>Email: </strong> {{ email }} </td>
  </tr>
</table>

{% endblock %}
