/* From https://developers.google.com/identity/sign-in/web/build-button */

#customBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 190px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}

#customBtn:hover {
  cursor: pointer;
}
span.label {
  font-family: serif;
  font-weight: normal;
}
span.icon {
  background: url('/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}
/*
 * End style from https://developers.google.com/identity/sign-in/web/build-button
 */

 .carousel-control-next {
  filter: invert(100%);
}

/* .carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
} */

.profilepic{
  width:150px;
  height:150px;
  padding:1px;
  border:1px solid #021a40;
  border-color:blue;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.image-container .profilepic{
  object-fit: cover;
  max-width:200px;
  max-height:200px;
  width:200px !important;
  height:200px !important;
  position: absolute;
  padding:0px !important;
  border:0px !important;
  top: 120px;
  left: 30px;
  border-radius: .5em;
}

.image-container .profilebackground{
  object-fit: none;
  width:100%;
  height:300px;
  margin:auto;
  position: relative;
}

.interest-box{
  background: lightgray; 
  padding: 5px;
  margin:auto;
}

.interest-tag{
  position: relative;
  display: inline-block;
  line-height: 1;
  text-align: center;
  border-radius: 3px;
  border-style: solid;
  white-space: nowrap;
  background: #8d917e;
  border-color: #8d917e;
  font-weight: bold;
  color: white;
}

.tag-x{
  position: relative;
  display: inline-block;
  line-height: 1;
  text-align: center;
  border-radius: 0px 3px 3px 0px;
  border-style: solid;
  white-space: nowrap;
  background: #429bff;
  border-color: #429bff;
  color: white !important;
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.match-menu-bar{
  border-top: 1px solid gray; 
  width: 100% !important;
  max-width:100% !important;
}

.match-menu{
  background:#343a40;
  border-color:#343a40;
  border-radius:0 !important;
  color:rgb(154, 157, 160);
  box-shadow: none !important;
  border-radius: 0px 0px 10px 10px !important;
}

.match-menu-selected{
  background:#444b53;
}

.match-menu:focus, .match-menu:hover {
  color: rgba(255,255,255,.75);
}

.col-md-3{
  margin-top:10px !important;
}
