<!DOCTYPE html>
{% load static %}
{% csrf_token %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- STYLE SHEETS -->
    <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/style.css" %}" rel="stylesheet">
    <!-- JS -->
    <script type="text/javascript" src="{% static "assets/js/jquery-3.3.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/signin.js" %}"></script>
    <script src="https://apis.google.com/js/api:client.js"></script>
    <!-- Signin script -->
    <script>startSigninButton();</script>
  </head>

  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Navigation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">   
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Homepage</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="#">Messaging</a>
        </li>
        <li class="nav-item"> 
          <a id="google-signin" class="nav-link" href="#">Sign In</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User Profile</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Manage</a>
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Sign Out</a>
          </div>
        </li>                            
      </ul>
    </div>  
  </nav>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

  <body>

    {% block content %}
    {% endblock %}


  </body>
  <footer>
    <!-- To add later -->
  </footer>
</html>
