{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron jumbotron-fluid" id="home">
    <div class="container">
    <h1>Team 13ETA</h1>
    <p>Match, connect, and network with people who have similar interests!</p>
    <hr class="my-4">
    <p>This is a web application where users can search for and connect with people.</p>
    </div>
</div>
    
<div class="containers" id="about">
    <section class="container">
        <h2>About</h2>
        <p>We know LinkedIn is a useful way to network and extend connections, but what about within school and within classes? This
        is an app that combines both the matching aspect of Tinder, and the networking aspect of LinkedIn to create a
        more casual form for students to connect.
        </p>
    </section>
</div>

{% endblock %}

