
<div class="container match-menu-bar">
  <div class="row">
    {% if request.path == "/match/showprofiles" %}
    <a href="showprofiles" class="match-menu match-menu-selected col-md-4 btn">Find a Match</a>
    <a href="showmatches" class="match-menu col-md-4 btn">See my Matches</a>
    <a href="showpending" class="match-menu col-md-4 btn">See my Match Requests</a>
    {% elif request.path == "/match/showmatches" %}
    <a href="showprofiles" class="match-menu col-md-4 btn">Find a Match</a>
    <a href="showmatches" class="match-menu match-menu-selected col-md-4 btn">See my Matches</a>
    <a href="showpending" class="match-menu col-md-4 btn">See my Match Requests</a>
    {% elif request.path == "/match/showpending" %}
    <a href="showprofiles" class="match-menu col-md-4 btn">Find a Match</a>
    <a href="showmatches" class="match-menu col-md-4 btn">See my Matches</a>
    <a href="showpending" class="match-menu match-menu-selected col-md-4 btn">See my Match Requests</a>
    {% endif %} 
  </div>
</div>
<br/>

