{% extends "base.html" %}
{% load static %}

{% block content %}

<div>
<script type="text/javascript" src="{% static "assets/js/create_match.js" %}"></script>

  {% for p in profile_list %}
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
          <div class="card" >
              <img src="http://placehold.it/150x150" class="img-circle">
                <p><strong>Name: </strong> {{ p.profile_user.get_full_name }} </p>
                <p><strong>Bio: </strong> {{ p.profile_bio }} </p>
                <p><strong>Education: </strong> {{ p.profile_education }} </p>
                <p><strong>Intrests: </strong> {{ p.profile_interests }} </p>
                <div class="userID" hidden>{{ p.profile_user.id }}</div>
                <div class="btn matchbutton btn-primary">Match</div>
          </div>
        </div>
          
        <!-- <h2>Profile:</h2>
        <p><strong>Name: </strong> {{ p.profile_user.get_full_name }} </p>
        <p><strong>Profile Pic: </strong> {{ p.profile_pic }} </p>
        <p><strong>Background Pic: </strong> {{ p.profile_background_image }} </p> -->
        <!-- <p><strong>Bio: </strong> {{ p.profile_bio }} </p>
        <p><strong>Education: </strong> {{ p.profile_education }} </p>
        <p><strong>Intrests: </strong> {{ p.profile_interests }} </p>
        <p><strong>Contact: </strong> {{ p.profile_contact_info }} </p>
        <div class="userID" hidden>{{ p.profile_user.id }}</div>
        <div class="btn matchbutton btn-primary">Match</div> -->
  </div>
  {% endfor %}

</div>


{% endblock %}

