{% extends "base.html" %}
{% load static %}

{% block content %}

<div>
  <script type="text/javascript" src="{% static "assets/js/create_match.js" %}"></script>
  <div class="container">
    <div class="row">
      {% for p in search_results %}
      <div class="col-md-3">
        <div class="card h-100" >
          <img src="{% get_media_prefix %}{{ p.profile_pic }}" class="img-circle profilepic" style = "width:150px; height:150px;">
          <p><strong>Name: </strong>{{ p.profile_user.get_full_name }} </p>
          <p><strong>Bio: </strong> {{ p.profile_bio }} </p>
          <p><strong>Year: </strong> {{ p.profile_year}} </p>
          <p><strong>Major: </strong> {{ p.profile_major }} </p>

          <div style="margin-bottom: auto;"><strong>Interests: </strong> {{ p.profile_interests }} </div>
          <div class="userID" hidden>{{ p.profile_user.id }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
