{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "match_site/match.html" %}

<div>
  <!--script type="text/javascript" src="{% static "assets/js/create_match.js" %}"></script-->
    <h2>Your pending matches</h2>
    <div class="container">
      <div class="row">
        <!-- <thead>
          <tr>
          <th>Name:</th>
          </tr>
          </thead> -->

          {% for m in match_list %}

          <div class="col-md-3">
            <div class="card h-100" >
              <img src="{% get_media_prefix %}{{ m.1.0.profile_pic }}" class="img-circle profilepic" style = "width:150px; height:150px;">
              <p><strong>Name: </strong>{{ m.0.user_two.get_full_name }} </p>
              <p><strong>Bio: </strong> {{ m.1.0.profile_bio }} </p>
              <p><strong>Education: </strong> {{ m.1.0.profile_education }} </p>
              <div><strong>Interests: </strong> 
                <div>
                  {% for tag in m.1.1 %}
                  <div class="interest-tag"> {{ tag.tag_name }} </div>
                  {% endfor %}
                </div>
              </div>
              <p/>

            </div>
          </div>
          {% endfor %}
      </div>
    </div>

    {% endblock %}
