html{
	background: #f2f2f2;
}

body{
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
	padding-left: 20px;
}
/* Link style
---------------------------------------------------------*/
a {
	color:#364e68;
}

h1{
	font-size: 36px;
    line-height: 36px;
}
h2 {
    font-size: 30px;
    line-height: 30px;
}

h3 {
    font-size: 24px;
    line-height: 24px;
}

.profilecard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}


.containers {
	font-family: "Roboto", sans-serif;
	height:100vh;
	display:block;
	position:relative;
	z-index:0;
}
.intro {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	text-align: center;
	padding: 0 15px;
}

.intro p{
	color: #132238;
}

.resume{
    position: relative;
}

.section-title {
    margin-bottom: 80px;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    color: #364e68;
    position: relative;
}

.skills-section {
    background-color: #1a1e23;
    color: #fff;   
}
.skills-section .section-title{
    color: #fff;
    margin-bottom: 110px;  
}
.skills-section .section-title h2{
    color: #fff;
}
.skill-title {
    width: 25%;
    font-size: 18px;
}




